@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans');

$color-accent: #D8D8D8;
$color-main: #A01B2E;
$line-color: black;
@mixin flex-around {
  display: flex
  justify-content: space-around;
};

a {
    text-decoration: none;
    color: $color-main;
    &:visited {
        color: $color-main;
    }
}

body{
    width: 320px;
    margin: 0 auto;
}

.description {
    margin-bottom: 15px;
}

footer {
    background: $color-main;
    p {
        color: $line-color;
        padding: 5px 0;
    }
}

h1 {
    text-align: center;
    background: url("../images/header.png");
    padding: 40px 0;
    color: white;
    font-size: 30px;
}

h2, h3 {
    color: $color-main;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: "Abril Fatface";
}

.hours {
    @extend .location;
    text-align: center;
}

.location {
    border-top: solid 1px $line-color;
}

.intro {
    color: #106286;
    font-size: 30px;
    text-align: center;
    background-color: $color-accent;
    padding: 5px 0;
}

li, p, table  {
    font-family: "Open Sans";
    list-style: none;
}

.map {
    width: 100%;
}

.more {
    background-color: $color-accent;
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 0 auto 20px;
    width: 50px;
}

p {
    @extend table;
    font-size: 10px;
    width: 220px;
    margin: 0 auto;
}

table {
    color: #979797;
}

.place {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.product {
    font-family: "Open Sans";
    font-size: 10px;
    color: #979797;
    width: 220px;
    margin: 0 auto;
}

.sub-head {
    font-family: "Open Sans";
    text-align: center;
    color: $color-main;
    font-size: 20px;
}

table {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tablet {
    display: none;
}

ul {
    padding: 0;
}

@media screen and (min-width:768px) {
    .bakery {
        width: 450px;
    }

    body {
        width: 768px;
    }

    .flip {
        display: flex;
        flex-flow: column-reverse;
    }

    .goods {
        width: 300px;
    }

    .hours, .location {
        border-top: none;
}

    .intro {
        font-size: 45px;
}

    .map {
        width: 242px;
    }

    .mobile {
        display: none;
    }

    nav {
        ul {
          @include flex-around;
          background-color: $color-accent;
        }
        li {
        font-size: 25px;
        }
    }

    p {
        width: 100%;
        font-size: 15px;
    }

    .product {
        width: 300px;
    }

    .side {
        @include flex-around;
        flex-flow: row;
        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
        margin-bottom: 100px;
    }

    .sub-head {
        font-size: 30px;
    }

    .tiles {
        @include flex-around;
        flex-flow: row wrap;
        margin-bottom: 100px;
    }

    .tablet {
        display: block;
        width: 100%;
    }

}
